.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.bio {
    margin: 0;
    font-size: 18px;
}
